@font-face {
    font-family: "KaiTi";
    src:    url("fonts/simkai.woff2"),
            url("fonts/simkai.woff");
}

@font-face {
    font-family: "Cursive";
    src:    url("fonts/aAntaraDistance.woff2"),
            url("fonts/aAntaraDistance.woff");
}


body {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;
    background-color: rgb(250, 250, 250);
}
aside {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 43vw;
}

aside > span {
    position: absolute;
    bottom: 0;
    left: 30%;
    font-size: .8rem;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, .8);  
}

.transparent-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 24px 0;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-size: 4rem;
    font-family: "Kaiti";
}

.transparent-bg span+span {
    font-family: 'Cursive';
}

img {
    height: 100%;
}
header {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-direction: column;

    padding: 0 20vw 50px 45px;

    background-color: rgb(250, 250, 250);
    height: 40vh;
}

h1 {
    font-size: 3.0vh;
}

.main-content {
    display: flex;
    flex-direction: column;

}
form {
    
    display: flex;
    flex-direction: column;
    height: 60vh;
}
form > p {
    font-size: 1.3rem;
    font-weight: bolder;
    padding-left: 45px;
    color: rgb(56, 56, 56);
}
.form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    column-gap: 5vw;
    padding: 0 25vw 0 45px;
    background-color: white;

    height: 20vh;
    box-shadow: 0px 5px 5px rgba(0,0,0,.1);
    position: relative;
}
.form-box {
    display: flex;
    flex-direction: column;
}
.form-box label {
    font-size: 10px;
    font-weight: bold;
    color: dimgray;
    letter-spacing: .1rem;

}
.submission {
    flex: 1;
    
    padding-top: 35px;
    padding-left: 45px;
    background-color: rgb(250, 250, 250);
}
.submission span {
    display: flex;
    align-items: center;
    margin-top: 17px;
}

a[href='#'] {
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: bolder;
    text-decoration: none;
}

a[href='#']:link,
a[href='#']:visited {
    color: rgb(142, 119, 90);
}

a[href*="imgur"]{
    color: rgba(255, 255, 255, .8);  
}

button[type='submit'] {
    border: none;
    border-radius: 5px;
    background-color: tan;
    width: 160px;
    height: 40px;
    font-weight: bolder
}


